/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

/* Body styles */
body {
    font-size: 16px;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 span{
    color: #ee1c47;
}
/* Heading styles */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
}

/* Input group styles */
.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #111;
    color: #f7f7f7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: larger;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: black;
    color: #f7f7f7;
    
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    select,
    input[type="number"] {
        padding: 6px;
    }
}
